.icon {
  &[data-variant="default"] {
    width: 170px;
    height: 170px;
  }

  &[data-variant="help"] {
    width: 170px;
    height: 170px;
  }

  &[data-variant="services"] {
    width: 100px;
  }

  &[data-variant="about"] {
    width: "inherit";
  }
}
