.icon {
  &[data-variant="default"] {
    width: 170px;
    height: 170px;
  }

  &[data-variant="quotes"] {
    width: 125px;
    height: 125px;

    @media (min-width: $mantine-breakpoint-md) {
      width: 170px;
      height: 170px;
    }
  }

  &[data-variant="help"] {
    width: 170px;
    height: 170px;
  }

  &[data-variant="services"] {
    width: 100px;
  }

  &[data-variant="about"] {
    width: "inherit";
  }
}
