.quote {
  font-size: 1.3rem;
  line-height: 1.2;
  text-align: center;
}

@media (min-width: $mantine-breakpoint-md) {
  .quote {
    font-size: 2rem;
  }
}

.author {
  font-size: 1.2rem;
}

@media (min-width: $mantine-breakpoint-md) {
  .author {
    font-size: 1.5rem;
  }
}

.title {
  font-size: 1rem;
}

@media (min-width: $mantine-breakpoint-md) {
  .title {
    font-size: 1.2rem;
  }
}
