.inner {
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
}

.content {
  max-width: 480px;

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: 44px;
  line-height: 1;
  font-weight: 600;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 28px;
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.image {
  width: 360px;
  height: 360px;
  border-radius: 50% 50% 69% 49% / 70% 50% 50% 150px;

  @media (min-width: $mantine-breakpoint-md) {
    height: 450px;
    width: 450px;
    border-radius: 50% 50% 69% 49% / 70% 50% 50% 250px;
  }

  @media (min-width: $mantine-breakpoint-lg) {
    height: 600px;
    width: 600px;
  }
}
