.inner {
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
}

.content {
  max-width: 480px;

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: 50px;
  line-height: 1;
  font-weight: 600;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 28px;
  }
}
