/** 
* HEADINGS
*/
:root {
  --mantine-h2-font-size: 1.875rem;
}

@media (min-width: $mantine-breakpoint-sm) {
  :root {
    --mantine-h2-font-size: 2.5rem;
  }
}
/**
* HEADINGS
*/

@font-face {
  font-family: "Mont-Bold";
  src: url("../public/fonts/mont-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mont-Light";
  src: url("../public/fonts/mont-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mont-Heavy";
  src: url("../public/fonts/mont-heavy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

section {
  scroll-margin-top: var(--header-height);
}
